.body{
    background-color:beige;
    /*
    
    */
}

.fondo{
    background-image: url(../proyecto/img/fodo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:center;
}

a,p,label,.card-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue !important;
}

.img-clothes{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    margin: 1rem auto;
}

.card{
    border-radius: 15px;
    background-color: black !important;
}

section{
    border-radius: 15px;
}

.border{
    border-color: black !important;
}